:root:root {
  --primary: 217 93% 60%;
  --primary-foreground: 0 0% 100%;
  --ring: 217 93% 60%;
}

html.dark {
  --primary: 217 93% 60%;
  --primary-foreground: 0 0% 100%;
  --ring: 217 93% 60%;
}

/* 정지 버튼 */
#stop-button {
  background-color: #F03737 !important;
  color: #ffffff !important;
}

#stop-button:hover {
  background-color: #c92e2e !important;
}

/* 로그인 페이지 이미지 */
img[alt="Image"] {
  width: 256px !important;
  height: 256px !important;
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  transform: translate(-50%, -50%);
}
